		<footer>
			<h1>Fire &ndash; Food &ndash; Music</h1>
			<h2>Burlington, NL</h2>
			<p>&copy; 2013. All rights reserved.</p>
			<nav>
				<ul>
					<li><a href="https://www.facebook.com/ShaunMajumder" target="_blank"><span class="icon-facebook-circled"></span></a></li>
					<li><a href="https://twitter.com/BurlGathering" target="_blank"><span class="icon-twitter-circled"></span></a></li>
					<li><a href="http://instagram.com/shaunmajumder" target="_blank"><span class="icon-instagram-circled"></span></a></li>
				</ul>
			</nav>
		</footer>