<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>The Gathering August 22-24, 2014</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="description" content="The Gathering - August 22-24. A back to the elements festival, filled with culinary delights and intimate cooking and dining experiences, in celebration of all things Newfoundland.">
    <meta name="author" content="The Gathering">
  
	<meta property="og:site_name" content="The Gathering Burlington">
  	<meta property="og:title" content="The Gathering Burlington | August 22-24. A back to the elements festival, filled with culinary delights and intimate cooking and dining experiences, in celebration of all things Newfoundland.">
  	<meta property="og:image" content="http://thegatheringburlington.com/common/assets/images/panels/small/21-s.jpg"/>
  	<meta property="og:url" content="http://thegatheringburlington.com/2014/">  
	
	<link rel="stylesheet" href="/css/styles.css">

</head>
<body class="page">
<a href="#" class="js_menu"></a>
<nav role="navigation">
	
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/schedule/">Schedule</a></li>
		<li><a href="/music/">Music</a></li>
		<li><a href="/chefs/">Chefs</a></li>
		<li><a href="/camping/">Camping</a></li>
		<li><a href="/experience/">Experience</a></li>
		<li><a href="/story/">Story</a></li>
		<li><a href="/contact/">Contact</a></li>
		<li><a href="#" class="button">Tickets</a></li>
	</ul>
</nav>
<div class="viewport">