@charset "UTF-8";

 
.icon-book-open:before { content: '📖'; } /* '\1f4d6' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-pin:before { content: '📌'; } /* '\1f4cc' */
.icon-sun-inv:before { content: '\2600'; } /* '☀' */
.icon-cloud:before { content: '\2601'; } /* '☁' */
.icon-home-1:before { content: '\e800'; } /* '' */
.icon-article-alt:before { content: '\e735'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-th-list:before { content: '\f009'; } /* '' */
.icon-ok-circled:before { content: '\f06d'; } /* '' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-bell:before { content: '\f03f'; } /* '' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-linkedin-circled:before { content: '\f05b'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-bicycle:before { content: '\e80a'; } /* '' */
.icon-golf:before { content: '\e81c'; } /* '' */
.icon-lodging:before { content: '\e824'; } /* '' */
.icon-post:before { content: '\e82c'; } /* '' */
.icon-school:before { content: '\e834'; } /* '' */
.icon-tree-1:before { content: '\e83e'; } /* '' */
.icon-calendar:before { content: '\f4c5'; } /* '' */